extends layout

block css
    link(rel='stylesheet', href='/stylesheets/index.css')

block content
    h1 Editable Book List

    form(action="#", name="docForm", method="get")
        ul(class="title")
            each title, i in titles
                li #{title} &nbsp&nbsp
                    input(type="button", value="edit", onclick="onDocumentBtnClick('#{title}', 'edit')")
                    input(type="button", value="read", onclick="onDocumentBtnClick('#{title}', 'read')")

    script(src="/javascripts/document_list.js")