extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')

block sidebar
  
block content
  h1= title
  p.greeting Welcome. Choose the menu.

  ul
  each menu, i in menuList
    li
      a(href="http://localhost:3000/" + href[i]) #{menu}