extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/search_bar.css')
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  
block content
  .wrap
    h1.title= title
    .greeting Welcome. Please search for a book.
    form(action="./document/search", method="post")
      .search
        input.searchTerm(type="text", name="searchTerm", placeholder="What are you looking for?")
        button.searchButton(type="submit")
          i.fa.fa-search

    .user-check
        if !authenticated
            a(href="/users/login") 로그인 하시려면 이쪽으로..
        else
            | #{authenticated} 님. 환영합니다.
            br
            a(href="/users/logout") 로그아웃