extends layout

block css
    link(rel='stylesheet', href='/stylesheets/show_file.css')

block content
    .wrap
        h1.title #{title}
        br
        .innerwrap
            .button-wrap
                button(type="button" class="js-edit-button edit-button") 편집
            textarea(readonly) #{content}
        