extends layout

block css
    link(rel='stylesheet', href='/stylesheets/show_file.css')

block content
    .wrap
        h1.title #{title}
        br
        .innerwrap
            if user
                form(method="post").js-update-form
                    input(type="hidden" name="_method" value="put")
                    .button-wrap
                        button(type="submit" class="js-edit-button edit-button") 업데이트 요청
                    textarea(name="content").js-textarea #{content}
            
            else
                textarea(readonly value="") #{content}

block script
    script(src="/javascripts/show_file.js")