extends layout

block css
    link(rel='stylesheet', href='/stylesheets/show_file.css')

block content
    .wrap
        h1.title #{title}
        br
        .innerwrap
            if user
                .button-wrap
                    form(action="#" method="POST")
                        button(type="submit" class="js-edit-button edit-button") 업데이트 요청
                textarea() #{content}
            
            else
                textarea(readonly) #{content}